@import "{{ site.theme }}";

.page-header{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow:0px 2px 50px #764ba3b5;
}

.main-content{
    max-width: 900px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6,{
    color: #7f30d0;
}